---
import svgPinkStar from '../assets/pink-star.svg'
---


<section class="px-3" id="hire">
    <div class="max-w-3xl mx-auto bg-white text-center flex flex-col gap-4 border-3 shadow-[8px_8px_0px_rgba(0,0,0,0.3)] relative p-10">
     <blockquote class="text-2xl sm:text-3xl italic relative">
       <span class="text-6xl text-gray-400 absolute -top-12 -left-4 rotate-180">"</span>
       Nothing is hard, nothing is confusing. You are just not crazy enough to do it.
       <span class="text-6xl text-gray-400 absolute -bottom-8 -right-2">"</span>
     </blockquote>
     <img src={svgPinkStar.src} alt="svg" width="80" class="absolute -top-10 right-20" />
    </div>
  </section>