---
const myValues = [
  { name: 'Clean Code', icon: '✨' },
  { name: 'User-First Design', icon: '👥' },
  { name: 'Performance Focused', icon: '⚡' },
  { name: 'Scalable Solutions', icon: '📈' },
  { name: 'Modern Practices', icon: '🚀' },
  { name: 'Continuous Learning', icon: '📚' },
  { name: 'Problem Solving', icon: '🧩' },
]

--- 
<script>
import { gsap } from 'gsap';

document.addEventListener('DOMContentLoaded', function () {
    const clonedContainer = document.querySelector('#cloned') as any

    Array.from(clonedContainer.children).forEach((img: any) => {
        const clone = img.cloneNode(true); 
        clonedContainer.appendChild(clone); 
    })

    const tl = gsap.timeline({ repeat: -1 });
    tl.to(clonedContainer, {
        x: -(clonedContainer.scrollWidth / 2),  duration: 30, ease: 'none'
    })
});
</script>
  


<section class="bg-black py-6 relative z-5">
    <div class="overflow-hidden">
        <div class="flex items-center gap-16 md:gap-30" id="cloned">
            {myValues.map(value => (
              <div class="flex items-center gap-3 text-white flex-1 text-2xl whitespace-nowrap">
                <span class="text-3xl">{value.icon}</span>
                <span>{value.name}</span>
              </div>
            ))}
        </div>
    </div>
</section>