---
import astroIcon from '../assets/tools/astro.svg';
import reactIcon from '../assets/tools/react.svg';
import typescriptIcon from '../assets/tools/typescript.svg';
import javascriptIcon from '../assets/tools/javascript.svg';
import nextjsIcon from '../assets/tools/nextjs.svg';
import nodeIcon from '../assets/tools/node.svg';
import expressIcon from '../assets/tools/express.svg';
import mongodbIcon from '../assets/tools/mongodb.svg';
import postgresqlIcon from '../assets/tools/postgresql.svg';
import prismaIcon from '../assets/tools/prisma.svg';
import tailwindcssIcon from '../assets/tools/tailwindcss.svg';
import cssIcon from '../assets/tools/css.svg';
import htmlIcon from '../assets/tools/html.svg';
import gitIcon from '../assets/tools/git.svg';
import dockerIcon from '../assets/tools/docker.svg';
import awsIcon from '../assets/tools/aws.svg';
import betterauthIcon from '../assets/tools/betterauth.svg';
import shadcnIcon from '../assets/tools/shadcn.svg';

const mytools = [
  { name: 'Astro', icon: astroIcon },
  { name: 'React', icon: reactIcon },
  { name: 'TypeScript', icon: typescriptIcon },
  { name: 'JavaScript', icon: javascriptIcon },
  { name: 'Next.js', icon: nextjsIcon },
  { name: 'Node.js', icon: nodeIcon },
  { name: 'Express', icon: expressIcon },
  { name: 'MongoDB', icon: mongodbIcon },
  { name: 'PostgreSQL', icon: postgresqlIcon },
  { name: 'Prisma', icon: prismaIcon },
  { name: 'TailwindCSS', icon: tailwindcssIcon },
  { name: 'CSS', icon: cssIcon },
  { name: 'HTML', icon: htmlIcon },
  { name: 'Git', icon: gitIcon },
  { name: 'Docker', icon: dockerIcon },
  { name: 'AWS', icon: awsIcon },
  { name: 'BetterAuth', icon: betterauthIcon },
  { name: 'ShadCN', icon: shadcnIcon }
]

--- 
<script>
import { gsap } from 'gsap';

document.addEventListener('DOMContentLoaded', function () {
    const clonedContainer = document.querySelector('#cloned') as any

    Array.from(clonedContainer.children).forEach((img: any) => {
        const clone = img.cloneNode(true); 
        clonedContainer.appendChild(clone); 
    })

    const tl = gsap.timeline({ repeat: -1 });
    tl.to(clonedContainer, {
        x: -(clonedContainer.scrollWidth / 2),  duration: 30, ease: 'none'
    })
});
</script>
  


<section class="bg-black py-6 relative z-5">
    <div class="overflow-hidden">
        <div class="flex items-center gap-16 md:gap-30" id="cloned">
            {mytools.map(tool => (
              <div class="flex items-center gap-3 text-white flex-1 text-2xl whitespace-nowrap">
                <img src={tool.icon.src} alt={tool.name} class="w-8 h-8 md:w-10 md:h-10" />
                <span>{tool.name}</span>
              </div>
            ))}
        </div>
    </div>
</section>